@mixin floating {
  border: 0px solid transparent;
  border-radius: 10px;

  &:hover {
    box-shadow: 3px 3px lightblue;
  }
}

@mixin title-big {
  font-weight: bold;
  font-size: 4rem;
  &:hover {
    text-shadow: 3px 3px map.get($colours, 'btn2');
  }
}
